@font-face {
  font-family: 'Helvetica Neue';
  src: url('HelveticaNeue Medium.ttf');
}

body {
  font-family: 'Helvetica Neue', sans-serif;
}

img{
  max-width: 100%;
}




.header-jordan a {
  transition: all .3s;
}

.header-jordan a:hover {
  text-decoration: underline;
}

.header-link a:hover {
  text-decoration: underline;
}

.footer a:hover {
  color: #FFFFFF;
}

.first-column a {
  border-bottom: 1px solid #111111;
}

.first-column a:hover {
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 3px;
}

.member{
  margin: 25px 0 50px 0;
}

.header-jordan img {
  margin-left: 50px;
}

.header-jordan {
  width: 100%;
  background: #F5F5F5;
  display: flex;
  height: 36px;
  align-items: center;
  justify-content: space-between;
}

.header-jordans {
  display: flex;
}

.footer {
  height: 331px;
  width: 100%;
  background: #111111;
  position: relative;
  margin-top: 60px;
}

.first-column {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding-top: 46px;
  margin-right: 150px;
  margin-left: 40px;
}

.wrapper-footer {
  display: flex;
}

.first-column a {
  color: #FFFFFF;
  text-decoration: none;
}

.second-column a {
  text-decoration: none;
  color: #7E7E7E;
}

.second-column .get-help {
  color: #FFFFFF;
  margin-right: 245px;
}

.second-column {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-top: 44px;
}

.third-column a {
  text-decoration: none;
  color: #7E7E7E;
}

.third-column .get-help {
  color: #FFFFFF;
}

.third-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 44px;
}

.social-network {
  display: flex;
  position: absolute;
  right: 40px;
  margin-top: 40px;
  gap: 16px;
}

.social-network img {
  width: 30px;
  height: 30px;
}

.footer-footer {
  position: absolute;
  display: flex;
  bottom: 18px;
  color: #7E7E7E;
}

.india {
  color: #FFFFFF;
  margin-left: 12px;
  margin-right: 24px;
}

.footer-footer img {
  margin-left: 46px;
}

.footer-footer-a {
  position: absolute;
  display: flex;
  bottom: 18px;
  gap: 28px;
  right: 47px;
}



.member{
  padding-top: 25px;
}

.footer-footer-a a {
  text-decoration: none;
  color: #7E7E7E;
}

.inner-header-jordan a {
  text-decoration: none;
  color: #111111;
  white-space: nowrap;
}

.inner-header-jordan {
  width: 77px;
  border-right: 1px solid black;
  text-align: center;
  padding: 0 15px;
}

.inner-header-jordans {
  border: none;
  margin-right: 50px;
  margin-left: 12px;
}

.inner-header-jordans a {
  text-decoration: none;
  color: #111111;
}

.header {
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
  position: relative;
}

.form input {
  border-radius: 100px;
  border: none;
  background: #F5F5F5;
}

.form {
  display: flex;
  margin-top: 10px;
  align-items: center;
  position: absolute;
  right: 0;
}

.form form {
  width: 180px;
  display: flex;
  align-items: center;
  height: 40px;
  background: #F5F5F5;
  border-radius: 100px;
  overflow: hidden;
  border: none;
}

.form form img {
  margin-right: 16px;
  margin-left: 13px;
}

.header-link {
  gap: 24px;
  display: flex;

}

.header-link a {
  text-decoration: none;
  color: #111111;
  margin-top: 21px;
}

.nike {
  margin-top: 20px;
  position: absolute;
  left: 0;
}

.heart {
  margin-left: 28px;
  height: 16.75801658630371px;
  margin-right: 30px;
  width: 19.495508193969727px;
}

.box-header {
  height: 16.5px;
  width: 16.5px;
}

.container{
  margin-left: 3vw;
  display: flex;  
}

.main__img{
  max-width: 100%;
}

.shoes__images{
  margin-left: 68px;
  margin-bottom: 61px;
}

.jordan-img:first-of-type{
margin-right: 4px;
}

.description{
  margin-left: 60px;
}

.description__text{
  width: 374.92px;
  height: 224px;  
  font-size: 15px;
  line-height: 28px;
}

.shoes__desc{
  padding-left: 16px;
  line-height: 24px;
}

.details__title {
  margin-top: 29px;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px #111 solid;
  padding-bottom: 5px;
}